<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.neway.feedme">

    <uses-sdk tools:overrideLibrary="com.mancj.materialsearchbar" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".model.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.launcher.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.home.HomeActivity" />
        <activity android:name=".activities.foodlist.FoodListActivity" />
        <activity android:name=".activities.foodDetails.FoodDetailsActivity" />
        <activity android:name=".activities.cart.CartActivity" />
        <activity android:name=".activities.orderStatus.OrderStatusActivity" />

        <service
            android:name=".services.StatusChangeListener"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>